@import './base.css';

.container-vh-100 {
    height: calc(100vh - 58px);
}

.nav-link.router-link-active {
    color: var(--bs-navbar-active-color);
}

.container {
    margin-top: 4em;
    margin-bottom: 4em;
}

.loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: #444;
    border-color: #444;
}

@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;
}