@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

$highLightAccentColor: var(--bs-indigo);
:root {
    /* Colors */
    --background-accent-color: var(--bs-light);

    /* Sizes */
    --header-height: 3rem;
    --nav-width: 68px;
    --normal-font-size: 1rem;

    /* Default config */
    --body-font: 'Nunito', sans-serif;
    --z-fixed: 100;
}