/* Text colors */
.text-indigo {
    color: $indigo;
}

/* Btn colors */
.btn-indigo {
    @include button-variant($indigo, $indigo);
}

.cursor-pointer {
    cursor: pointer;
}

.container-vh-100 {
    height: calc(100vh - 58px);
}

.loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: #444;
    border-color: #444;
}

@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;
}