/* Text colors */
.text-indigo {
    color: $indigo;
}

/* Btn colors */
.btn-indigo {
    @include button-outline-variant(
        $indigo,
        $indigo,
        $light,
        $indigo,
        $indigo,
    );
}

.btn-addon {
    @include button-variant(
        transparent,
        $gray-400,
        $gray-600,
        transparent,
        $gray-400,
        $gray-600,
        transparent,
        $gray-400,
        $gray-600
    );
}

/* Offcanvas */
.offcanvas-500 {
    --bs-offcanvas-width: 500px
}

/* Width */
.w-fit-content {
    width: fit-content;
}

/* Table */
.table-rounded {
    thead tr {
        &:first-child {
            th {
                &:first-child {
                    border-top-left-radius: $border-radius-lg;
                }
                &:last-child {
                    border-top-right-radius: $border-radius-lg;
                }
            }
        }
    }

    tbody tr {
        &:last-child {
            td, th {
                &:first-child {
                    border-bottom-left-radius: $border-radius-lg;
                }
                &:last-child {
                    border-bottom-right-radius: $border-radius-lg;
                }
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.container-vh-100 {
    height: calc(100vh - 58px);
}

.loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: $gray-500;
    border-color: $gray-500;
}

@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;
}